/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f9fc;
}

header {
  background-color: #663399;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  background-color: #4a90e2;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #357ac7;
}

/* Estilos para el feed de memorias */
#feed {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5rem;
  padding: 1.5rem;
}

.memoria {
  background-color: white;
  border: 1px solid #e0e4e8;
  padding: 1.2rem;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  display: inline-block; /* Añadir esta propiedad para ajustar la altura automáticamente */
  vertical-align: top; /* Añadir esta propiedad para alinear las tarjetas en la parte superior */
}


.memoria:hover {
  transform: translateY(-5px);
}

.memoria img {
  max-width: 100%;
  border-radius: 5px;
  margin-bottom: 1rem;
}

/* Estilos para la barra lateral de perfiles */
#sidebar {
  background-color: #ebebeb;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.perfil {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.perfil:hover {
  background-color: #f5f5f5;
}

.perfil img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 1rem;
}
/* Estilos para la animación de volteo */
.flip-container {
  perspective: 1000px;
}

.flip-container:hover .flipper,
.flip-container.hover .flipper {
  transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
  width: 300px;
  height: 300px;
}

.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  transform: rotateY(0deg);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f4f8; /* Color de fondo de las memorias */
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.front img {
  max-width: 100%;
  border-radius: 10px;
  height: 90%;
}

.back {
  z-index: 2;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff; /* Color de fondo del reverso */
  padding: .3rem;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.back p {
  font-size: 14px;
  margin: 0;
  text-align: center;
  margin-top: 0.5rem;
}

.back img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 1rem;
}


/* Estilos para el formulario */
form {
  background-color: #ffffff;
  border: 1px solid #e0e4e8;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 0 auto;
}

form h2 {
  font-size: 24px;
  margin-bottom: 1rem;
  color: #333;
}

form label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #666;
}

form select,
form input[type="text"],
form textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  background-color: #4a90e2;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #357ac7;
}

/* Otros estilos... */

.hidden {
  display: none;
}


#videoContainer {
  max-width: 100%;
  max-height: 60vh; /* Ajusta el valor según tus necesidades */
  overflow: hidden;
  position: relative;
}

#photoCanvas, #capturedImage {
  max-width: 100%;
  max-height: 60vh; /* Ajusta el valor según tus necesidades */
}

#mediaContainer {
  max-width: 100%;
  max-height: 60vh; /* Ajusta el valor según tus necesidades */
  overflow: hidden;
  position: relative;
}

#videoContainer, #photoCanvas, #capturedImage {
  max-width: 100%;
  max-height: 100%;
}

#videoContainer video {
  width: 100%;
  height: 100%;
}


#capturedImageContainer {
  max-width: 100%;
  max-height: 60vh; /* Ajusta el valor según tus necesidades */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#capturedImage {
  max-height: 100%;
  width: auto;
  max-width: 100%;
  object-fit: contain;
}


.listening {
  width: 60px; /* Ancho mayor */
  height: 60px; /* Alto mayor */
  background: lightblue; /* Color de fondo azul claro */
}











/* Estilos generales para el modo oscuro */
body.dark-mode {
  background-color: #222; /* Color de fondo oscuro */
  color: #fff; /* Texto en color claro en fondos oscuros */
}

header.dark-mode {
  background-color: #333; /* Color de fondo oscuro para el encabezado */
}

#feed.dark-mode {
  background-color: #444; /* Color de fondo oscuro para el feed */
}

#sidebar.dark-mode {
  background-color: #333; /* Color de fondo oscuro para la barra lateral */
}

